:host {
  text-align: center;
}

.rect {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: relative;
  opacity: 0.8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  box-sizing: border-box;
  cursor: move;

  &__one {
    background-color: #fee;
    z-index: 2;
    top: 360px;
    left: 330px;
  }

  &__two {
    background-color: #cde;
    top: 150px;
    left: 150px;
    height: 100px;
    width: 100px;
    animation: slide1 5s linear 1s infinite alternate;
  }

  &__three {
    background-color: #fda;
    top: 350px;
    left: 350px;
    animation: slide2 5s linear 1s infinite alternate;
  }
}

.collision {
  border-color: red;
}

@keyframes slide1 {
  0% {
    left: 150px;
    top: 150px;
  }
  25% {
    left: 400px;
    top: 150px;
  }
  50% {
    left: 400px;
    top: 350px;
  }
  75% {
    left: 100px;
    top: 350px;
  }
  100% {
    left: 100px;
    top: 100px;
  }
}

@keyframes slide2 {
  0% {
    left: 350px;
    top: 350px;
  }
  25% {
    left: 200px;
    top: 350px;
  }
  50% {
    left: 200px;
    top: 150px;
  }
  75% {
    left: 300px;
    top: 150px;
  }
  100% {
    left: 300px;
    top: 300px;
  }
}
